.nameOfWork {
  display: flex;
  border-bottom: 1px solid #414144;
}

.title {
  width: 220px;
  margin-right: 185px;
}

.salary {
  margin-right: 65px;
}
.equipment {
  margin-right: 85px;
}
.credit {
  margin-right: 115px;
}
