.navBar {
border-right: 1px solid #414144;
  height: 100vh;
}

.selectName {
  border-bottom: 1px solid #414144;
  display: flex;
  justify-content: space-around;
}

.nameProject {
  margin: 0;
  font-size: 14px;
  width: 234px;
  color: #A1A1AA
}

.spanSelect {
  font-size: 10px;
  color: #A1A1AA
}


