.main {
  width: 100%;
}

.container {
  background-color: #202124;
  height: 100vh;

}

.mainPart {
  display: flex;
  border-bottom: 1px solid #414144;
  width: 100%;

  p {
    color: #A1A1AA;
    margin: 0;
  }
}

.titleMain {
  border-bottom: 1px solid #414144;
  margin: 0;
  padding: 8px 0 9px 12px;
  font-size: 18px;
  border-right: 1px solid  #414144;
  width: 320px;
}

p {
  padding-left: 30px;
  padding-bottom: 14px;
  padding-top: 14px;
}

.description {
  padding-left: 30px;
  font-size: 14px;
}

.workName {
  padding-right: 200px;
}
